<% include head %>
<% include logo %>


<% include sidebar %>



  <button class="accountKnopLom" type="button" name="button">Reserveer een zaal</button>
  <button class="accountKnopLom" type="button" name="button">Mijn zalen</button>



<% include footer %>
