<% include head %>
<% include logo %>

<<<<<<< HEAD

<div class="sidebariconGilles">
  <img class="menuGilles "src="/images/menu.png" alt="">;
</div>
=======
<<<<<<< HEAD
<% include sidebar %>
=======
<a href="#" onclick="openSlideMenu()">
  <div class="sidebariconGilles">
    <img class="menuGilles "src="/images/menu.png" alt="">;
  </div>
</a>
>>>>>>> e98e11a82ad89413b085d5456187c3e9377dcb51

>>>>>>> 76035bea54987bc69d059a87c8d2ba6fc948590d

<div class="bigboxGilles">

<div class="boxGilles">
  <h2>RESERVEER EEN ZAAL</h2>
</div>

<div class="boxGilles">
  <h2>MIJN ZALEN</h2>
</div>

</div>


<% include footer %>
