<% include head %>
<% include logo %>
<% include sidebar %>

<<<<<<< HEAD


  <button class="accountKnopLom" type="button" name="button">Reserveer een zaal</button>
  <button class="accountKnopLom" type="button" name="button">Mijn zalen</button>

=======
<div class="homeDiv">
  <a href="reservatie"><button class="accountKnopLom" type="button" name="button">Reserveer een zaal</button></a>
  <a href="zalenLom"><button class="accountKnopLom" type="button" name="button">Mijn zalen</button></a>
</div>
>>>>>>> 1219a717ab15105e67fb2868d204e9848874c3b3


<% include footer %>
