<% include head %>
<% include logo %>


<% include sidebar %>

<a href="#" onclick="openSlideMenu()">
  <div class="sidebariconGilles">
    <img class="menuGilles "src="/images/menu.png" alt="">;
  </div>
</a>


<div class="bigboxGilles">

  <div class="boxGilles">
    <h2>Reserveer een zaal</h2>
  </div>


<div class="boxGilles">
  <h2>Mijn zalen</h2>
</div>

</div>


<% include footer %>
