<% include head %>
<% include logo %>


<div class="sidebariconGilles">
  <img class="menuGilles "src="/images/menu.png" alt="">;
</div>


<div class="bigboxGilles">

<div class="boxGilles">
  <h2>RESERVEER EEN ZAAL</h2>
</div>

<div class="boxGilles">
  <h2>MIJN ZALEN</h2>
</div>

</div>


<% include footer %>
