<% include head %>
<% include logo %>


<% include sidebar %>

<<<<<<< HEAD
<a href="#" onclick="openSlideMenu()">
  <div class="sidebariconGilles">
    <img class="menuGilles "src="/images/menu.png" alt="">;
  </div>
</a>


<div class="bigboxGilles">


  <div class="boxGilles">
    <h2>Reserveer een zaal</h2>
  </div>


<div class="boxGilles">
  <h2>Mijn zalen</h2>
</div>


  <button class="boxGilles" type="button" name="button">Reserveer een zaal</button>
  <button class="" type="button" name="button">Mijn zalen</button>


</div>
=======
  <button class="accountKnopLom" type="button" name="button">Reserveer een zaal</button>
  <button class="accountKnopLom" type="button" name="button">Mijn zalen</button>
>>>>>>> 378fb2c254219712368c2ebbcc53452f83550868


<% include footer %>
