<% include head %>
<% include logo %>


<% include sidebar %>

<div class="bigboxGilles">

  <button class="boxGilles" type="button" name="button">Reserveer een zaal</button>
  <button class="" type="button" name="button">Mijn zalen</button>

</div>


<% include footer %>
