<% include head %>
<% include logo %>

<img src="/images/menu.png" alt="">

<div class="boxGilles">
  <h2>RESERVEER EEN ZAAL</h2>
</div>
<div class="boxGilles">
  <h2>MIJN ZALEN</h2>
</div>


<% include footer %>
