<% include head %>
<% include logo %>


<% include sidebar %>

<div class="homeDiv">
  <a href="reservatie"><button class="accountKnopLom" type="button" name="button">Reserveer een zaal</button></a>
  <a href="zalenLom"><button class="accountKnopLom" type="button" name="button">Mijn zalen</button></a>
</div>

<% include footer %>
