<% include head %>
<% include logo %>


<% include sidebar %>

<div class="bigboxGilles">
<<<<<<< HEAD

  <div class="boxGilles">
    <h2>Reserveer een zaal</h2>
  </div>


<div class="boxGilles">
  <h2>Mijn zalen</h2>
</div>
=======

  <button class="boxGilles" type="button" name="button">Reserveer een zaal</button>
  <button class="" type="button" name="button">Mijn zalen</button>
>>>>>>> efc3c4266ecb92e488217d340b85bd9a8f9d318b

</div>


<% include footer %>
