<% include head %>

<div class="informatiebordGilles">
  <h1>SPORTHAL X </h1>


<div class="infoboxGilles">

  <div class="dagenGilles">
    <p>MAANDAG</p>
    <p>DINSDAG</p>
    <p>WOENSDAG</p>
    <p>DONDERDAG</p>
    <p>VRIJDAG</p>
    <p>ZATERDAG</p>
    <p>ZONDAG</p>
  </div>

  <div class="urenGilles">
    <p>00:00 - 00:00</p>
    <p>00:00 - 00:00</p>
    <p>00:00 - 00:00</p>
    <p>00:00 - 00:00</p>
    <p>00:00 - 00:00</p>
    <p>00:00 - 00:00</p>
    <p>00:00 - 00:00</p>
  </div>

</div>

<p class="adresGilles">Antwerpsesteenweg 13, 2000 Antwerpen</p>

<a><img class="informatieweg" src="/images/close.png" alt=""></a>



</div>



<% include footer %>
