<% include head %>
  <% include logo %>

  <form class="loginLom" action="index.html" method="post">

    <input type="text" name="e-mailadres" value="e-mailadres">
    <input type="text" name="wachtwoord" value="wachtwoord">

    <button class="loginKnopLom" type="button" name="button">Log in</button>

    <button class="accountAanmakenLom" type="button" name="button">Account aanmaken</button>

  </form>


<% include footer %>
