<% include head %>
  <% include logo %>

  <form class="login" action="index.html" method="post">

    <input type="text" name="e-mailadres" value="e-mailadres">
    <input type="text" name="wachtwoord" value="wachtwoord">

    <button class="loginKnop" type="button" name="button">Log in</button>

  </form>


<% include footer %>
