<% include head %>

  <a href="home"><img class="logoKlein" src="/images/logo.png" alt=""></a>

  <form class="registratie" action="index.html" method="post">

    <input type="text" name="voornaam" value="voornaam">
    <input type="text" name="achternaam" value="achternaam">
    <input type="text" name="geboortedatum" value="geboortedatum">
    <input type="text" name="rijksregisternummer" value="rijksregisternummer">
    <input type="text" name="e-mailadres" value="e-mailaders">
    <input type="text" name="wachtwoord" value="wachtwoord">
    <input type="text" name="bevestig wachtwoord" value="bevestig wachtwoord">

    <button class="accountKnopLom" type="button" name="button">Send</button>

  </form>


<% include footer %>
