<% include head %>
  <% include logo %>

<form class="formbart" action="index.html" method="post">

  <select class="selectbart" name="DATUM">

  <option value="volvo">Oktober</option>
  <option value="saab">November</option>
  <option value="fiat">December</option>
  <option value="audi">Januari</option>

</select>
</form>

<% include footer %>
