<% include head %>
  <% include logo %>

<form class="formbart" action="index.html" method="post">

  <select class="selectbart" name="DATUM">

  <option value="volvo">Oktober</option>
  <option value="saab">November</option>
  <option value="fiat">December</option>
  <option value="audi">Januari</option>

</select>

<select class="getal2" name="GETAL2">

<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>

</select>

<select class="getal2" name="GETAL2">

<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>

</select>



</form>

<% include footer %>
