<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img class="menuWeg" src="/images/close.png" alt=""></a>

  <a href=""><button type="button" name="button">Lijst sporthallen</button></a>
  <a href=""><button type="button" name="button">Zaal reserveeren</button></a>
  <a href=""><button type="button" name="button">Regels zaal</button></a>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()"><img class="menuGilles" src="/images/menu.png" alt=""></span>
