<% include head %>

<div class="helpGilles">

  <img class="foto2Gilles" src="/images/nul.jpg" alt="">

</div>

<div class="boldivGilles">
  <span class="dotkleurGilles"></span>
  <span class="dotGilles"></span>
  <span class="dotGilles"></span>
  <span class="dotGilles"></span>
</div>

<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img class="menuWeg" src="/images/open.png" alt=""></a>







<% include footer %>
