<% include head %>

<div class="helpGilles">

  <img class="foto3Gilles" src="/images/derde.jpg" alt="">

</div>

<div class="boldivGilles">
  <span class="dotGilles"></span>
  <span class="dotGilles"></span>
  <span class="dotkleurGilles"></span>
</div>




<% include footer %>
