<% include head %>

<div class="helpGilles">

  <img class="foto1Gilles" src="/images/eerste.jpg" alt="">

</div>

<div class="boldivGilles">
  <span class="dotGilles"></span>
  <span class="dotkleurGilles"></span>
  <span class="dotGilles"></span>
  <span class="dotGilles"></span>
</div>







<% include footer %>
