<% include head %>

<% include logo %>

<% include sidebar %>

<div class="gridZalen">

<% for (var i = 0; i < zalen.features.length; i++) { %>


    <a href="uitlegZalen">
      <div class="zalenDiv">
        <p class="zaalNaam"><%-zalen.features[i].attributes.naam %></p>
      </div>
    </a>

<% } %>

</div>

<% include footer %>
