<% include head %>

<% include logoKlein %>

<% include sidebar %>

<div class="grid">

<% for (var i = 0; i < zalen.features.length; i++) { %>

  <a href="uitlegZalen">
    <div class="fotozalen">
      <p class="zaalNaam"><%-zalen.features[i].attributes.naam %></p>
    </div>
  </a>

<% } %>

</div>

<% include footer %>
