<% include head %>

<% include logo %>

<% include sidebar %>

<div class="gridZalen">

<% for (var i = 0; i < zalen.features.length; i++) { %>
<<<<<<< HEAD
<div class="">
    <a href="informatie">
      <div class="zalenDiv" style="background-image: url('images/sporthallen/<%-zalen.features[i].attributes.OBJECTID %>.jpg')" >

      </div>
      <div class="geel">
=======
<<<<<<< HEAD
<div class="">
    <a href="informatie">
      <div class="zalenDiv" style="background-image: url('images/sporthallen/<%-zalen.features[i].attributes.OBJECTID %>.jpg')" >

      </div>
      <div class="geel">
=======



    <a href="informatie">
        <div class="zalenDiv" style="background-image: url('images/sporthallen/<%-zalen.features[i].attributes.OBJECTID %>.jpg')">
>>>>>>> f619aa6ffa61b36bf408a79892b6171f0163f590
>>>>>>> a54717f83fa897b7aa5298353c3e91b8f799e6c6
        <p class="zaalNaam"><%-zalen.features[i].attributes.naam %></p>
      </div>
    </a>

</div>
<% } %>

</div>

<% include footer %>
