<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


      <link rel="stylesheet" href="css/style.css">


</head>
<body>

  <main class="avatar">

    <h1>Avatar Sequels May Include Creatures From Disney World Ride</h1>

    <p>The Avatar sequels may be a few years away still, but film producer Jon Landau says that the movies could include creatures from the ride at Disney World. Avatar released nine years ago and became the highest-grossing movie ever to release on the big screen (unadjusted for ticket price inflation), but a sequel has yet to release.

Usually, when a movie makes as much money as Avatar did, a sequel will go into development almost immediately. While director James Cameron confirmed the sequel in 2010, it still hasn't been completed. Viewers were amazed by the 3D element present in Avatar in 2009 and Cameron seems to be promising an even bigger movie in 2020 when Avatar 2 is released. Cameron has previously stated that Avatar 2 and the other sequels will revolutionize 3D and actor Stephen Lang even mentioned that the sequel is like the first Avatar on steroids. Avatar 2 has long been known to be focusing on the underwater world of Pandora's oceans. While story details are being kept under wraps, one Avatar 2's producers teases the sequel's new creatures.

Related: Avatar Sequels Will Have 'Political Parallels'

In an interview with Inside the Magic, Landau explained that wanting to go underwater for the sequel was made possible not by centering on a different planet but by visiting the oceans on Pandora itself. He teased that some of the creatures that are seen on the Avatar: Flight of Passage ride at Disney's Animal Kingdom could make their way into the sequel. Landau also said that Avatar 2 will focus on different environment, clans, and cultures.

<br>"As we’ve moved on with the sequels to Avatar we made a very conscious decision to stage the whole four sequels on Pandora. We don’t need to go to another world if we want water, we’re going to go to the oceans of Pandora. Just like you see in Flight of Passage. Also, some of those creatures that you see (on Flight of Passage), don’t be surprised if they show up in the films."</p>

  <div class="a1">

  </div>

  <p>The Avatar: Flight of Passage ride opened inside Pandora - The World of Avatar in 2017 and has parkgoers embarking on a journey across the Pandora landscape while on top of a banshee. Of course, by traversing around Pandora, riders see a plethora of wild animals, some of which Landau hints may appear in Avatar 2 as well as the other three Avatar sequels in development. Even though Avatar 2 hasn't even been released, Cameron has planned on shooting the four sequels in succession and releasing them between 2020 and 2025. However, Cameron explained last year that Avatar 4 and Avatar 5 won't happen if the first sequels flop at the box office.

By waiting this long for an Avatar sequel, Cameron has likely built a lot of excitement for his film; however, it's just as possible that he waited too long and fans won't be interested anymore. While Cameron has worked as a writer and producer for several projects in recent years, he actually hasn't directed a feature film since Avatar was released in 2009. Avatar 2 could overcome the success of the first film, but that possibility will remain a mystery until the sequel is released in 2020
  </p>


  <button type="button" name="button" onclick="window.location.href='/'">
    BACK
  </button>



  </main>


</body>
</html>
