<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>




      <link rel="stylesheet" href="css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Emblema+One" rel="stylesheet">


</head>
<body>

  <main class="starwars">

    <div class="chucky">
      
    </div>

    <h1>Child's Play Movie Remake Director Teases Start Of Production</h1>

    <p>Child's Play remake director Lars Klevberg has teased the start of production with an Instagram post showing a copy of the script along with Chucky's knife. MGM is developing the remake, which will reportedly put a high tech twist on the iconic character of Chucky, the kids' doll that turns into a murderer after being possessed by the soul of a serial killer. The original film was released in 1988 and has been followed up by six sequels, the most recent being 2017's Cult of Chucky.
    </p>


    <p>According to a recent report, Liv Tyler is being sought as the female lead in Child's Play the remake. In addition to this movie remake, original creator Don Mancini is separately developing a Child's Play TV series, with Chucky actor Brad Dourif returning to once again give voice to the killer doll. Because of Dourif's participation in the TV series, the actor will not play Chucky in the new movie version.
    </p>

    <p>
      With production on the remake of Child's Play set to gear up, director Lars Klevberg has offered fans a little teaser via Instagram. The image shows a copy of Tyler Burton Smith's script for the movie as well as a favorite implement of the story's little wisecracking murderer.
    </p>
    <p>
    After 30 years and multiple films of varying degrees of quality, Child's Play stands as one of the most durable of horror movie franchises. Part of that success is due to the character of Chucky, one of the most charismatic and entertaining of slasher movie fiends. It's also helped that, over the years, Mancini (who wrote all the movies and directed the last three) has been able to cleverly re-invent the series, putting a humorous, at times even satirical spin on the material.
  </p>
    <p>
    The upcoming Child's Play remake from MGM and Klevberg will be the first Child's Play movie not directly written by Mancini, and it will be interesting to see if the movie is able to capture the uniquely humorous spirit of Mancini's films. Though horror remains a very profitable genre in general, remakes of classic horror properties like Child's Play have largely met with failure. Recent attempts at rebooting Friday the 13th, Poltergeist, A Nightmare on Elm Street and Amityville Horror were particular disasters. Perhaps Child's Play will avoid the pitfalls that have prevented so many horror reboots from catching on with audiences.
  </p>

  <button type="button" name="button" onclick="window.location.href='news'">
    BACK
  </button>



  </main>


</body>
</html>
