<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>

  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Emblema+One" rel="stylesheet">


</head>



<main class="wolverine">


<h1>Razzie Awards Criticize New Oscars Popular Film Category</h1>
<p>The Razzies have spoken out against The Academy of Motion Picture Arts and Sciences creating a new "popular film" category for the Oscars. While the Razzies, the antithesis of the Oscar, are viewed as a joke to many in the industry, their stance is shared by many, with some considering this new award an "insult" to the Academy's 90-year tradition, by creating this category seemingly for the sole reason of providing a boost to the sagging ratings. The 90th Annual Oscars, which aired in early March, hit an all-time ratings low, with just 26.5 million viewers tuning in.
</p>
<p>While many insiders and pundits figured the Academy would try something new in an effort to bring the Oscar ratings up, this move was a big surprise to many in the industry. The criteria for determining what movies will be considered "popular" and therefore eligible for this award is still uncertain, but it may be determined by either a movie's box office performance, or perhaps its CinemaScore rating. Regardless, the Razzies made it clear that this is not a smart move for the Oscars, which will not only "devalue" the Oscars, but also themselves
</p>
<p>The Razzies sent out a brief open letter to the Academy on their Razz Blog, where they open by admitting that the Razzies often "get it wrong" and get called out, but they just ignore the criticism because no one really, "takes the Razzies seriously." They added that the $4.97 statuette they award every year is supposed to remind talented artists that, "they done bad," an effort that will be slighted even more than it already is by this new popular film Oscar category. The open letter added that the Oscars "lowering themselves to 'honor'” popular fare just to get more eyeballs is not conducive to their brand
</p>
<p>The letter also pointed out that it's the Oscars' job to point out the best of the best, the high-brow fare that a vast majority of Americans might not even know existed. Conversely, it's the Razzies' job to, "sift through bottom-of-the-barrel mindless popular and sometimes unpopular entertainment," and invite those who have made sub-par films to humble themselves and "own their bad." There are still just a handful of actors and filmmakers who have accepted their awards, the most recent being Dwayne Johnson, who accepted the Razzie Nominee So Rotten You Loved It award for Baywatch in a video he put on social media the day after the 2018 Razzies
</p>
<p>While it may be hard to believe that the Razzies disagree with this popular film category, it's clear that those involved with the organization have a genuine respect for the Academy, with the open letter stating the Oscars are their "inspiration," adding, "don't fail us now," and that the Razzies are "co-dependent" on the Oscars. It would be interesting to see if the Razzies respond by creating a new category of their own. After all, the Razzies did create a new award in 2014 called The Razzie Redeemer Award, awarded to an actor or filmmaker who found his/her way back on top after being a Razzie winner or nominee. It would be amusing, to say the least, if the Razzies begin to gain credibility at the same time that the Oscars start to lose theirs.
</p>


<button type="button" name="button" onclick="window.location.href='news'">
  BACK
</button>


</main>
<script>
  function openSlideMenu(){
    document.getElementById('side-menu').style.width = '250px';
    document.getElementById('main').style.marginLeft = '250px';
  }

  function closeSlideMenu(){
    document.getElementById('side-menu').style.width = '0';
    document.getElementById('main').style.marginLeft = '0';
  }
</script>

</body>
</html>
