<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>




      <link rel="stylesheet" href="css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Emblema+One" rel="stylesheet">


</head>
<body>

  <main class="starwars">

    <h1>Star Wars 9: Everything You Need To Know</h1>

    <p>Star Wars: Episode IX is the third and final chapter of the Star Wars sequel trilogy, which began in 2015's The Force Awakens. Although no plot for Episode 9 is known, it's largely believed this will be the last episode in the Skywalker saga. J.J. Abrams returns to direct, leading a cast that includes Daisy Ridley, John Boyega, Oscar Isaac, and Adam Driver. Here's all you need to know about the upcoming sequel.

Release Date: December 20, 2019
Cast: Daisy Ridley, John Boyega, Oscar Isaac, Adam Driver, Kerri Russell, Billy Dee Williams
Director: J.J. Abrams
Writers: J.J. Abrams, Chris Terrio</p>

<div class="st1">

</div>

<p>One of the greatest strengths of The Force Awakens was the new generation of memorable characters it introduced. Audiences gravitated towards Rey, Finn, Poe Dameron, and Kylo Ren (and BB-8) instantly, and this bunch has carried the sequel trilogy to its conclusion. Lucasfilm has yet to officially announce a complete cast list, but it's long been reported Daisy Ridley, John Boyega, Oscar Isaac, and Adam Driver will reprise their respective roles.
</p>

<div class="st2">
</div>
  <p>
    Since the film hasn't begun shooting yet, it's no surprise there's no preview for it. A teaser likely won't be released until April 2019, keeping in line with the marketing strategies for Force Awakens and Last Jedi. Lucasfilm has another Star Wars Celebration planned for next year, so an Episode IX trailer could be the centerpiece of the event.
If there's no trailer, there's also no poster. Star Wars has traditionally released those two marketing items in tandem. Like the first teaser, we're predicting the first poster will debut in April 2019, possibly at Celebration (if that's when it takes place).
  </p>

  <button type="button" name="button" onclick="window.location.href='/'">
    BACK
  </button>



  </main>


</body>
</html>
