<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>




      <link rel="stylesheet" href="css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Emblema+One" rel="stylesheet">


</head>
<body>

  <main class="supergirl">

    <h1>Warner Bros. Reportedly Wants A Female Director For Supergirl Movie</h1>

<p>Warner Bros. wants to hire another female director for a DC movie, and Supergirl is the next hopeful landing spot. Following an undoubtedly rocky start, the DC Universe is now making strides in hopefully the right direction. While the quality of the movies remains to be seen, the one move everyone is excited for is their diverse lineup of voices helming and starring in upcoming projects. Their focus has especially turned to making more female-driven films, and Supergirl looks to be the latest one on their list.</p>


<p>It was recently revealed that 22 Jump Street writer Oren Uziel is going to write the script for a Supergirl solo movie. At the time, it was unclear just how big of a priority Supergirl was for WB and DC. While the script is still in the early phases, the studio already has some thoughts on who should direct the film. There's no shortlist or even one contender right now, but they do want a woman to direct.
</p>

<div class="sg1">

</div>

<p>
  Deadline shared the news that Warner Bros. is being "very vocal about wanting to employ another female director" for Supergirl. Any real director search may still be months away at this point, but this information at least gives everyone an idea of what type of directors they'll be looking for. It is just the latest DC film that is targeting a female director and whoever ultimately gets the job will join a talented group.
</p>
<p>
WB and DC's interest in hiring more female directors to craft female-led stories isn't just coming as a result of a need for more diversity in filmmaking, but also as the direct result of Wonder Woman's success. Patty Jenkins broke box office records left and right with the film. The pairing of her and Gadot made Wonder Woman shine and made her the only choice to direct the sequel. Jenkins is back for Wonder Woman 1984 following contract negotiations that saw her break through Hollywood's glass ceiling to receive top dollar pay.</p>
<p>
Jenkins isn't the only female director WB has enlisted for a DC film though. They previously hired Ava DuVernay to develop and direct New Gods. The ambitious project is still in the early phases of development too, but DuVernay is a beloved and talented voice in Hollywood. They also brought Cathy Yan onboard to direct Birds of Prey, which will make her the first female Asian director on a comic book film. The studio is also looking for a female director for Batgirl after Joss Whedon left the project. There's plenty of big and currently unknown names WB can court for Supergirl, so hopefully this mindset doesn't change once the director search actually begins.
</p>



  <button type="button" name="button" onclick="window.location.href='news'">
    BACK
  </button>



  </main>


</body>
</html>
