<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>



      <link rel="stylesheet" href="css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Emblema+One" rel="stylesheet">



</head>
<body>

  <h1 class="titel">SUPER 8</h1>

  <nav class="navbar">
    <span class="open-slide">
      <a href="#" onclick="openSlideMenu()">
<div class="scaleSvg">


        <svg width="100" height="150">
            <path d="M0,10 100,10" stroke="#fff" stroke-width="10"/>
            <path d="M0,55 100,55" stroke="#fff" stroke-width="10"/>
            <path d="M0,100 100,100" stroke="#fff" stroke-width="10"/>

        </svg>
        </div>
      </a>
    </span>


  </nav>

  <main>



  <div id="side-menu" class="side-nav">
    <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <a href="/">Home</a>
    <a href="news">News</a>
    <a href="top">Top</a>
    <a href="upcoming">Upcoming</a>
  </div>

  <div id="top">

<h1>Top 10 movies of 2018 so far</h1>

  <h2>10. Rampage</h2>
  <div class="top10">
  </div>
  <p>Primatologist Davis Okoye (Johnson), a man who keeps people at a distance, shares an unshakable bond with George, the extraordinarily intelligent, silverback gorilla who has been in his care since birth.  But a rogue genetic experiment gone awry mutates this gentle ape into a raging creature of enormous size.  To make matters worse, it’s soon discovered there are other similarly altered animals.  As these newly created alpha predators tear across North America, destroying everything in their path, Okoye teams with a discredited genetic engineer to secure an antidote, fighting his way through an ever-changing battlefield, not only to halt a global catastrophe but to save the fearsome creature that was once his friend.</p>
  <p>This film is based on the video game of the same name, which debuted in 1986. In the game, players would control a giant monster to destroy cities while evading the authorities. Warner Bros. acquired the rights to the title in 2009 as part of their deal to purchase Midway Games. A movie adaptation of Rampage has been in development since 2011, with star Dwayne Johnson signing on to headline in 2015. He reunites with his San Andreas director Brad Peyton on this action film, which promises to be more emotional than some may think.</p>

  <h2>9. Paddington 2</h2>
  <div class="top9">
  </div>
  <p>A superior slice of children’s entertainment, Paul King’s sequel to 2015’s Paddington is a sheer joy, infused with comic inspiration and irresistible sweetness. In this second series installment based on the stories of author Michael Bond, the perpetually hatted Paddington (voiced by Ben Wishaw) winds up in prison after he’s framed for the theft of a magnificent pop-up book that he planned to purchase for his dear Aunt Lucy (Imelda Staunton)—a crime that’s actually been perpetrated by a faded local actor (and master of disguise) played to cartoonish perfection by Hugh Grant</p>
  <p>The set pieces are uniformly inventive, the hybrid live-action/CGI aesthetics are superb, and the supporting cast—including Sally Hawkins, Brendan Gleeson, Julie Walters, Jim Broadbent, and Peter Capaldi—is across-the-board fantastic. Only the hardest of hearts could resist its good-natured charm, epitomized by its sincere belief (advocated by Paddington himself) that the key to improving the world (and ourselves) is compassion, affection, politeness and positivity.</p>

  <h2>8. Black panther</h2>
  <div class="top8">
  </div>
  <p>Marvel movies are designed to hew to convention, the better to allow them to seamlessly fit together into the larger tapestry of the Marvel Cinematic Universe. Still, within their stand-alone confines, they afford some room for artistic risk-taking, as is evidenced by Black Panther, Ryan Coogler’s blockbuster about the war for fictional African nation Wakanda.</p>
  <p>On one side of that conflict is Chadwick Boseman’s noble King T’Challa (aka Black Panther), who believes that protecting his people is best achieved by hiding them from the outside world. And on the other side is Erik Killmonger (Michael B. Jordan), a violent challenger to the throne who wants to use his homeland’s technological might to stage an oppression-upending global revolution.</p>
  <p>Underscored by such weighty hot-button themes, Coogler’s material is enlivened by eye-popping production design and captivating performances, in particular from Jordan, whose antagonist proves the finest superhero villain since the late Heath Ledger’s Clown Prince of Crime. It’s a distinctly African-American comic-book epic with universal appeal.</p>

  <h2>7. Ready player one</h2>
  <div class="top7">
  </div>
  <p>When the creator of a virtual reality world called the OASIS dies, he releases a video in which he challenges all OASIS users to find his Easter Egg, which will give the finder his fortune. Wade Watts finds the first clue and starts a race for the Egg
  </p>
  <p>The latest film from legendary director Steven Spielberg, Ready Player One is based on Ernest Cline's novel of the same name. The book was originally published in 2011 and received much acclaim, taking home an Alex Award from the Young Adult Library Services Association and the Prometheus Award in 2012. Critics enjoyed its nostalgic and heartfelt elements, with many feeling it has a fun and engaging narrative. Its story is noteworthy for making references to 1980s pop culture, including several movies Spielberg was involved with earlier in his career. Ready Player One's OASIS virtual reality also inspired the real-life Oculus system.</p>
  <p>The film is set to have some clear differences from its source material. Spielberg has mentioned he is going to tone down the '80s references (though there are plenty in the trailer), and Ben Mendelsohn said his character in the movie is not loyal to the version from the novel. The intent appears to be crafting a story that maintains the spirit of Ready Player One, but has the leeway to go off in its own directions if need be.</p>

  <h2>6. Infinity war</h2>
  <div class="top6">
  </div>
<p>An unprecedented cinematic journey ten years in the making and spanning the entire Marvel Cinematic Universe, Marvel Studios’ “Avengers: Infinity War” brings to the screen the ultimate, deadliest showdown of all time. The Avengers and their Super Hero allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.</p>
<p>The third Avengers movie in the game-changing Marvel Cinematic Universe, this film is positioned to be a culmination of everything that has transpired in the franchise to date. Directors Joe and Anthony Russo, who previously helmed Captain America: The Winter Soldier and Civil War, have assembled the largest ensemble in a superhero film to date. Nearly every living character in the MCU will be included, as the Avengers join forces with the Guardians of the Galaxy to take down Thanos in a battle that will have massive repercussions for the future. The filmmakers have not been shy to tease character deaths are in store, signaling that some of the original Avengers might be at the end of their ropes.</p>
<p>A sequel, Avengers 4, is also on the release schedule and will be released in May 2019 to close out Phase 3</p>
  <h2>5. Annihilation </h2>
  <div class="top5">
  </div>
  <p>Annihilation is the best sci-fi film in years, a mind-blowing trip into an inscrutable heart of darkness that marks writer-director Alex Garland as one of the genre’s true greats. Desperate to understand what happened to her soldier husband (Oscar Issac) on his last mission, a biologist (Natalie Portman) ventures alongside four comrades (Jennifer Jason Leigh, Tessa Thompson, Gina Rodriguez, Tuva Novotny) into a mysterious, and rapidly growing, hot zone known as the “Shimmer.”</p>

<p>What ensues is an unsettling, and finally hallucinatory, tale of destruction and transformation, division, and replication—dynamics that Garland posits as the fundamental building blocks of every aspect of existence, and which fully come to the fore during a climax of such surreal birth-death insanity that it has to be seen to be believed.</p>

<p>Apropos for a story about nature’s endless cycles of synthesis and mutation, it combines elements of numerous predecessors (Apocalypse Now, 2001: A Space Odyssey, Stalker, The Thing) to create something wholly, frighteningly unique.</p>

  <h2>4. Game night</h2>
  <div class="top4">
  </div>
  <p>It’s all fun and games until things turn deadly in Game Night, directors John Francis Daley and Jonathan Goldstein’s sharp, funny, and formally adept mainstream comedy. Gathering for their annual evening of board games, a group of friends led by Jason Bateman and Rachel McAdams’s hyper-competitive couple wind up on a crazy nocturnal adventure after Bateman’s cocky brother (Kyle Chandler) is kidnapped—and it turns out that his abduction may not necessarily be part of the role-playing murder-mystery activity he’d planned.</p>
  <p>Mark Perez’s script boasts a high batting average when it comes to witty one-liners, and its fast-and-furious forward momentum is aided by direction that’s consistently inventive, as with a protracted chase around a mansion for a Fabergé egg. Touching upon various marital issues with a light, goofy hand, it keeps one guessing, and laughing, to the end, replete with a Jesse Plemons turn—as a weirdo neighbor boxed-out of the gaming festivities—that’s one of the year’s best.</p>

  <h2>3. Deadpool 2</h2>
  <div class="top3">
  </div>
  <p>After surviving a near fatal bovine attack, a disfigured cafeteria chef (Wade Wilson) struggles to fulfill his dream of becoming Mayberry's hottest bartender while also learning to cope with his lost sense of taste. Searching to regain his spice for life, as well as a flux capacitor, Wade must battle ninjas, the yakuza, and a pack of sexually aggressive canines, as he journeys around the world to discover the importance of family, friendship, and flavor - finding a new taste for adventure and earning the coveted coffee mug title of World's Best Lover.</p>
  <p>This is the sequel to Deadpool, the 2016 comic book blockbuster that earned widespread critical acclaim (including a Producers Guild nomination for Best Picture) and broke box office records during its run, becoming the highest-grossing R-rated film of all-time. For the followup, Ryan Reynolds' Wade Wilson is joined by new heroes Cable (Josh Brolin) and Domino (Zazie Beetz), who are joining the franchise as a means of setting up the X-Force film that Drew Goddard is helming. Deadpool 2 (which is not the official title) sees many characters from the original return, including Colossus, Negasonic Teenage Warhead, Blind Al, and Dopinder the taxi driver. David Leitch of John Wick fame is taking over director duties for Tim Miller, who moved on to make a new Terminator with James Cameron.</p>

  <h2>2. A quiet place</h2>
  <div class="top2">
  </div>
<p>There are few gimmicks that horror films haven’t already beaten to death, but John Krasinski—here serving as writer, director and co-lead—manages to put a new twist on a familiar survival story with A Quiet Place. In a near-future overrun by hearing-enhanced monsters, humanity must stay completely silent in order to avoid detection and surefire death. That scenario is the basis for the tale of the Abbott family, who in the aftermath of a tragic loss struggle to get by while preparing for the impending arrival of a new member, courtesy of their pregnant matriarch (Emily Blunt).</p>
<p>Krasinski’s stripped-down script is light on dialogue but rich with well-drawn character dynamics, and his plotting has an efficiency that enhances its nerve-fraying tension. It’s the rare monster movie whose terror doesn’t flag after its inhuman baddie has been seen in the light of day; Krasinski’s third behind-the-camera effort remains taut all the way through its sorrowful and suspenseful climax.</p>
  <h2>1. Isle of dogs</h2>
  <div class="top1">
  </div>
<p>While it falls shy of the deliriously droll heights achieved by his prior stop-motion gem, 2009’s Fantastic Mr. Fox, Wes Anderson’s Isle of Dogs is still a better breed of animated adventure. The story of a young Japanese boy named Atari (Koyu Rankin) who embarks on an expedition to reunite with his beloved canine best friend on Trash Island where an evil mayor has banished all of the nation’s dogs, Anderson’s film exhibits both his signature meticulous aesthetics (all symmetrical compositions and period pop songs) and witty sense of humor.</p>
<p>With a sterling voice cast led by Bryan Cranston, Edward Norton, Bill Murray, Jeff Goldblum, Greta Gerwig, Frances McDormand, and many more, it’s a fleet and funny feast for the senses. Moreover, in its condemnation of intolerance, fear-mongering, anti-science rhetoric, and anti-immigration sentiments (as well as its lionization of student uprisings), this imaginative tribute to a boy’s love for his four-legged companion doubles as a timely commentary on our contemporary reality.
</p>

</div>

</main>
  <script>
    function openSlideMenu(){
      document.getElementById('side-menu').style.width = '500px';
      document.getElementById('main').style.marginLeft = '250px';
    }

    function closeSlideMenu(){
      document.getElementById('side-menu').style.width = '0';
      document.getElementById('main').style.marginLeft = '0';
    }
  </script>
</body>
</html>
