<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>

  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Emblema+One" rel="stylesheet">


</head>



<main class="wolverine">






<h1>X-23 is Wolverine's Daughter, Not Just His Clone</h1>

<p>The Marvel universe is preparing for Wolverine to return from the dead, but bombshells are already being dropped. The latest? That X-23 isn't a clone of Wolverine's at all, but a genetic daughter along with her "mother" Sarah
</p>


<p>The shocking change to the character's origin comes in Hunt For Wolverine: Adamantium Agenda #4 with X-23 a.k.a. Laura Kinney searching for Logan along with Iron Man, Spider-Man, Jessica Jones and Luke Cage. Their hunt has them investigating Mister Sinister's genetic mad science, ending up in a massive bunker. It turns out that Sinister had been collecting and cataloging the DNA of everyone on earth (including mutants) and selling off that DNA to the highest bidder.
</p>

<p>
  The team chose to destroy the database, but not before Tony Stark took a look... and discovered that Laura's origin as a clone of Wolverine's wasn't the full story at all.
</p>
<p>
After the team destroys the database and returns home, Laura calls Tony out on the fact that he's learned something, now that he's his avoiding her eyes and his heart rate rises around her. His hesitation makes sense, finally explaining that her DNA shows she is not a clone of Wolverine carried to term by Dr. Sarah Kinney, whom she considered her adopted mother. Laura has Wolverine's DNA, but it's actually entirely mixed with Sarah's.
</p>
<p>
The result, Tony explains, is that Laura is no clone, or even a "genetic twin." Laura is Wolverine's biological daughter, and Sarah is fully her biological mother.
</p>
<div class="w1">

</div>

<button type="button" name="button" onclick="window.location.href='/'">
  BACK
</button>


</main>
<script>
  function openSlideMenu(){
    document.getElementById('side-menu').style.width = '250px';
    document.getElementById('main').style.marginLeft = '250px';
  }

  function closeSlideMenu(){
    document.getElementById('side-menu').style.width = '0';
    document.getElementById('main').style.marginLeft = '0';
  }
</script>

</body>
</html>
