body {
  background-color: #221E1F;
  font-family: "Helvetica Neue", light;
}

<<<<<<< HEAD
.logoLom {
  max-width: 40%;
=======
.logo {
  max-width: 50%;
>>>>>>> 232f08257c3b1d0700f9c8fbfed88811c5e9faef
  display: block;
  margin: 50px auto;
}

.loginLom > input {
  width: 70%;
  margin: 10px auto 10px auto;
  display: block;
  padding: 10px 10px 10px 0;
  border: none;
  border-bottom: 2px solid #E2D535;
}

.loginLom > .loginKnopLom {
  margin: 80px auto;
  display: block;
  color: white;
  padding: 20px 50px 20px 50px;
  background-color: #464545;
  border: none;
  border-bottom: 2px solid #E2D535;
}

.loginLom > .accountAanmakenLom {
  background-color: #221E1F;
  color: white;
  width: 70%;
  margin: 130px auto 10px auto;
  display: block;
  padding: 10px 10px 10px 0;
  border: none;
  border-bottom: 2px solid #E2D535;
}

input {
  background-color: #221E1F;
  color: white;

}

form {
 color: white;
}
