<footer>
  <div class="socialMediaContainer">

    <% for (var i=0; i < mijnInformatie.mijnGegevens.mijnSocials.length; i++) {%>
        <% include social-item %>
      <% }%>


    <a href="https://www.facebook.com/"><img src="/images/facebook.png" onmouseover="this.src='/images/t-facebook.png'" onmouseout="this.src='/images/facebook.png'" alt=""></a>
    <a href="https://www.instagram.com/"><img src="/images/instagram.png" onmouseover="this.src='/images/t-instagram.png'" onmouseout="this.src='/images/instagram.png'" alt=""></a>
    <a href="https://www.google.be/"><img src="/images/google.png" onmouseover="this.src='/images/t-google.png'" onmouseout="this.src='/images/google.png'" alt=""></a>
    <a href="https://www.youtube.com/"><img src="/images/youtube.png" onmouseover="this.src='/images/t-youtube.png'" onmouseout="this.src='/images/youtube.png'" alt=""></a>
    <a href="https://soundcloud.com/stream"><img src="/images/soundcloud.png" onmouseover="this.src='/images/t-soundcloud.png'" onmouseout="this.src='/images/soundcloud.png'" alt=""></a>
  </div>
</footer>

</div>
<script src="template.js"></script>
</body>
</html>
